body {
    margin: 0;
    padding: 0;
    display: flex;
}

/* 
        .container {
            display: flex;
            width: 100%;
            background-color: white;
        } */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blueviolet;
    color: white;
    /* height: 100vh;  */
    width: 10rem;
    padding: 20px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px 30px;
    display: block;
    margin-bottom: 10px;
    font-size: x-large;
    flex-grow: 1;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: wheat;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="button"] {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(0, 211, 77);
}

#img-preview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
    display: none;
}


.language-list div {
    display: inline-block;
    /* Display language items inline */
    width: 300px;
    /* Set the width of each language item */
    margin: 10px;
    /* Add margin around each language item */
    padding: 10px;
    /* Add padding inside each language item */
    border: 1px solid #ccc;
    /* Add border for visual separation */
    text-align: center;
    /* Center text content */
    background-color: black;
    color: white;
}

.language-list div img {
    width: 200px;
    /* Set the width of each image */
    height: 200px;
    /* Set the height of each image */
    display: block;
    /* Ensure images are block elements */
    margin: 0 auto;
    /* Center images horizontally */
    cursor: pointer;
}

.delete-button{
    margin-top: 10px;
}
.delete-button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.edit-button{
    margin-top: 10px;
}
.edit-button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}